body {
        background: url('bridge1.jpg') no-repeat;
        background-size: cover;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        color: black;
}
p {
        font-size: 30px;
}

h2 {
        font-size: 20px;
}
.big {
        font-size: 70px;
        font-weight: bold;
}
.small {
        font-size: 50px;
        font-weight: bold;
}
div#footer {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        /*border: 1px solid black;*/
        font-size: 10px;
        text-align: center;
        background-color: white;
}
div#title {
        font-size: 30px;
        text-align: center;
        left: 20%;
        /*border: 5px solid black;*/
        background:rgba(248,248,255,0.5);
}
div#subtitle {
        position: absolute;
        left: 40%;
        font-size:30px;
        text-align: center;
        color: white;

}
.frontwindow {
        padding: 30px;
        position: absolute;
        margin: 0px auto;
        width: 30%;
        height: 15%;
        border: 5px solid black;
        border-radius: 10px;
        /*opacity: .5;*/
}
/*.frontwindow:hover {
        opacity:1.0;
}*/
div#content1 {

        background: url('facade.jpg') no-repeat;
        background-size: cover;
        top: 30%;
        left: 10%;
}
div#content2 {
        background: url('bridge2.jpg') no-repeat;
        background-size: cover;
        top: 30%;
        right: 10%;
}
div#content3 {
        background: url('lotus-temple.jpg') no-repeat;
        background-size: cover;
        top: 60%;
        left: 10%;
}
div#content4 {
        background: url('honeycomb.jpg') no-repeat;
        background-size: cover;
        top: 60%;
        right: 10%;
}
a:link {
        font-size: 25px;
        color:black;
        background:rgba(248,248,255,0.5);
}
a:visited {
        color: black;
}
a:hover {
        color: #440044; 
        /* #3366FF;*/ /*#550055;*/
        /*background:rgba(123,123,123,0.5);*/
}