body {
        background-color: rgb(70,70, 70);
        color: blue;
}
p {
        color: black;
}
h1 {
}
h2#first-header {
        font-weight: bold;
        font-size: 25px;
        color: green;
}
div#footer {
        color: black;
        position: absolute;
        width: 700px;
        bottom: 0px;
        border: 1px solid black;
        text-align: center;
        background-color: white;
        left: 25%;
}
div#title {
        font-size: 30px;
        text-align: center;
        color: white;
}
div#subtitle {
        font-size:20px;
        text-align: center;

}
div#content1 {
        padding: 30px;
        background-color: white;
        margin: 0px auto;
        width: 300px;
        border: 5px solid black;
        border-radius: 20px;
        left: 10%;
}
div#content2 {
        padding: 30px;
        background-color: white;
        margin: 0px auto;
        width: 300px;
        border: 5px solid black;
        border-radius: 20px;
        right: 10%;
}
div#main_link {
        color: blue;
}
